@import "variable.styl"

body, html
  line-height 1
  font-family 'Avenir', Helvetica, Arial, sans-serif
  user-select none
  -webkit-tap-highlight-color transparent
  background-color $color-background
  margin 0
  padding 0
